doctype html
html(land="en")
    head
        title Title
        meta(charset="utf-8")
        
        //- #begin styles
        link(rel="stylesheet", href="styles/auth.css")
        link(rel="stylesheet", href="styles/layout.css")
        //- #end styles

    body
        h1 Welcome

        //- #begin scripts
        script(type="text/javascript", src="scripts/templates.js")
        //- #end scripts
