doctype html
html(land="en")
    head
        title Title
        meta(charset="utf-8")
        base(href="/")

        // build:css(.build/dev/) styles/vendor.min.css 
        link(rel="stylesheet", href="styles/vendor/bootstrap.css")
        // endbuild

        // build:css(.build/dev/) styles/styles.min.css 
        link(rel="stylesheet", href="styles/layout.css")
        link(rel="stylesheet", href="styles/landing.css")
        // endbuild

        //- idependent styles
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")

        //- script(type="text/javascript").
        //-     var onloadCallback = function() {
        //-         grecaptcha.render('sign-up-captcha', {
        //-             sitekey: '6LcXlhkTAAAAALxiFu69thW-i15n4b9S0iu8aUM8',
        //-         });
        //-     };

    body(data-ng-app="cio").relative

        #view-common: div(data-ui-view="common")
        #view-simple: div(data-ui-view="simple")

        //- #view-simple
        //-     div(data-ui-view="simple")

        .spinner(data-ng-if="flags.isProcessing")
            i.fa.fa-2x.fa-spinner.fa-spin
        
        // build:js(.build/dev/) scripts/vendor.min.js 
        script(src="scripts/vendor/angular.js")
        script(src="scripts/vendor/angular-sanitize.js")
        script(src="scripts/vendor/angular-ui-router.js")
        // endbuild
            
        // build:js(.build/dev/) scripts/scripts.min.js 
        //- Common
        script(src="scripts/client.js")
        script(src="scripts/templates.js")
        //- Directives
        script(src="scripts/input.directive.js")
        //- Services
        script(src="scripts/communication.service.js")
        script(src="scripts/auth.service.js")
        //- Controllers
        script(src="scripts/landing.controller.js")
        script(src="scripts/sign-in.controller.js")
        script(src="scripts/sign-up.controller.js")
        script(src="scripts/forgot-username.controller.js")
        script(src="scripts/forgot-password.controller.js")
        script(src="scripts/reset-password.controller.js")
        //- Routers
        script(src="scripts/landing.router.js")
        script(src="scripts/auth.router.js")
        // endbuild

        //- script(src="https://www.google.com/recaptcha/api.js?hl=en&onload=onloadCallback&render=explicit", async, defer)

    