doctype html
html(land="en")
    head
        title Title
        meta(charset="utf-8")
        base(href="/")

        //- styles(href="styles/vendor/bootstrap.css")
        //- styles(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
        //- styles(href="styles/layout.css")

        // {styles} 
        //- script(type="text/javascript").
        //-     var onloadCallback = function() {
        //-         grecaptcha.render('sign-up-captcha', {
        //-             sitekey: '6LcXlhkTAAAAALxiFu69thW-i15n4b9S0iu8aUM8',
        //-         });
        //-     };

    body(data-ng-app="cio")

        #view-common
            div(data-ui-view="common")

        #view-simple
            div(data-ui-view="simple")
        
        //- script(src="scripts/vendor/angular.js")
        //- script(src="scripts/vendor/angular-sanitize.js")
        //- script(src="scripts/vendor/angular-ui-router.js")
        //- script(src="scripts/client.js")
        //- script(src="scripts/templates.js")
        //- script(src="scripts/communication.service.js")
        //- script(src="scripts/auth.service.js")
        //- script(src="scripts/sign-in.controller.js")
        //- script(src="scripts/sign-up.controller.js")
        //- script(src="scripts/public.router.js")
        //- script(src="scripts/auth.router.js")
        //- script(src="scripts/reset-password.controller.js")

        // {scripts}
        //- script(src="https://www.google.com/recaptcha/api.js?hl=en&onload=onloadCallback&render=explicit", async, defer)

    