//- header
#header

    //- logo and icon
    #logo: h1
        span.logo-left coursar
        span.logo-right .io

    //- floating navigation
    #navigation
        a.navigation About
        a.navigation Features
        a.navigation Examples
        a.navigation Comments
        a.navigation Contact

//- key visual intro area
#keyvisual(data-ng-view="viewKeyvisual")

//- main content
#main

//- footer
#footer