//- header
#header: .wrapper-content.center

    //- sign in and sign up buttons
    #sign
        a.btn.btn-link(data-ui-sref="signIn") Sign In
        a.btn.btn-primary(data-ui-sref="signUp") Sign Up

    //- logo and icon
    #logo: h1
        span.logo-left coursar
        span.logo-right .io

    //- floating navigation
    #navigation
        a.navigation About
        a.navigation Features
        a.navigation Examples
        a.navigation Comments
        a.navigation Contact

//- key visual intro area
#keyvisual
    .wrapper-content-narrow(data-ui-view="keyvisual")

//- main content
#main: .wrapper-content
    h1 Content

    .courseOrLesson.angular#drop-shadow
        h4 Angular
        img(src="/assets/angular-logo.svg")

//- footer
#footer: .wrapper-content