// build:js(.build/dev/) scripts/scripts.min.js
//- Common
script(src="scripts/admin.js")
script(src="scripts/templates.js")
//- Values
script(src="scripts/translation.en-US.js")
//- Services
//- script(src="scripts/common.service.js")
script(src="scripts/auth.service.js")
//- Controllers
//- script(src="scripts/common.controller.js")
script(src="scripts/sign-in.controller.js")
//- Routers
script(src="scripts/auth.router.js")
// endbuild
