#view-common .header
    min-height 100px

nav li > a.active
    display block
    color red
    text-decoration underline
nav li
    list-style-type none
nav > ul
    padding 0
nav > ul > li > ul
    padding-left 2rem
