h4 Navigation
nav
    ul
        li(data-ui-sref-active="active")
            a(data-ui-sref="dashboard")
                |Dashboard
        
        li(data-ui-sref-active="active")
            a(data-ui-sref="structure")
                |Structure
        
        li(data-ui-sref-active="active")
            a(data-ui-sref="courses")
                |Courses
        
        li(data-ui-sref-active="active")
            a(data-ui-sref="lessons")
                |Lessons
        
        li(data-ui-sref-active="active")
            a(data-ui-sref="contents.overview")
                |Contents
            ul(data-ng-show="vm.ifStateIncludes('content')")
                
                li(data-ui-sref-active="active")
                    a(data-ui-sref="contents.basicNew")
                        |New basic
                
                li(data-ui-sref-active="active")
                    a(data-ui-sref="contents.presentationNew")
                        |New presentation
                
                li(data-ui-sref-active="active")
                    a(data-ui-sref="contents.streamNew")
                        |New stream
                
                li(data-ui-sref-active="active")
                    a(data-ui-sref="contents.multipleChoiceNew")
                        |New multiple choice
                
                li(data-ui-sref-active="active")
                    a(data-ui-sref="contents.completeTextNew")
                        |New complete text
                
                li(data-ui-sref-active="active")
                    a(data-ui-sref="contents.completeSequenceNew")
                        |New complete sequence
                
                li(data-ui-sref-active="active")
                    a(data-ui-sref="contents.practicalNew")
                        |New practical
        
        li(data-ui-sref-active="active")
            a(data-ui-sref="achievements")
                |Achievements
        
        li(data-ui-sref-active="active")
            a(data-ui-sref="comments")
                |Comments
        
        li(data-ui-sref-active="active")
            a(data-ui-sref="users")
                |Users
            ul(data-ng-show="vm.ifStateIncludes('user')")

                li(data-ui-sref-active="active")
                    a(data-ui-sref="userNew")
                        |New user
        
        li(data-ui-sref-active="active")
            a(data-ui-sref="settings")
                |Settings