// build:js(.build/dev-admin/) scripts/scripts.min.js
//- Common
script(src="scripts/admin.js")
script(src="scripts/templates.js")
//- Values
script(src="scripts/translation.en-US.js")
//- Directives
script(src="scripts/input.directive.js")
//- Services
script(src="scripts/common.service.js")
script(src="scripts/common-interceptor.service.js")
script(src="scripts/auth.service.js")
script(src="scripts/user.service.js")
script(src="scripts/user-population.service.js")
script(src="scripts/content.service.js")
//- Controllers
script(src="scripts/common.controller.js")
script(src="scripts/sign-in.controller.js")
script(src="scripts/user.controller.js")
script(src="scripts/content-overview.controller.js")
script(src="scripts/content-basic.controller.js")
//- Routers
script(src="scripts/auth.router.js")
script(src="scripts/user.router.js")
script(src="scripts/content.router.js")
// endbuild
