// build:js(.build/dev-admin/) scripts/vendor.min.js
script(src="scripts/vendor/angular.js")
script(src="scripts/vendor/angular-sanitize.js")
script(src="scripts/vendor/angular-translate.js")
script(src="scripts/vendor/angular-ui-router.js")
script(src="scripts/vendor/angular-ui-bootstrap-tpls.js")
script(src="scripts/vendor/angular-confirm.js")
// endbuild
