doctype html
html(lang="en")
    head
        title Title
        meta(charset="utf-8")
        base(href="/admin/")

        include layout-styles-vendor.include.jade
        include layout-styles-user.include.jade

    body.relative(
            data-ng-app="cio",
            data-ng-controller="CioCommonCtrl")

        //- common view for default page
        #view-common.container-fluid
            .row
                .col-xs-12.header(data-ui-view="header")
            .row
                .col-xs-3.navigation(data-ui-view="navigation")
                .col-xs-9.main(data-ui-view="main")
            .row
                .col-xs-12.footer(data-ui-view="footer")

        //- simple view for sign in
        #view-simple: div(data-ui-view="simple")

        .spinner(data-ng-if="flags.isProcessing")
            i.fa.fa-2x.fa-spinner.fa-spin

        include layout-scripts-vendor.include.jade
        include layout-scripts-user.include.jade
    