doctype html
html(lang="en")
    head
        title Title
        meta(charset="utf-8")
        base(href="/")

        // build:css(.build/dev/) styles/vendor.min.css 
        include _styles-vendor.include.jade
        // endbuild

        // build:css(.build/dev/) styles/styles.min.css 
        include _styles-user.include.jade
        // endbuild

        //- script(type="text/javascript").
        //-     var onloadCallback = function() {
        //-         grecaptcha.render('sign-up-captcha', {
        //-             sitekey: '6LcXlhkTAAAAALxiFu69thW-i15n4b9S0iu8aUM8',
        //-         });
        //-     };

    body.relative(
            data-ng-app="cio-admin",
            data-ng-controller="CioCommonCtrl")

        #view-common.container-fluid
            .row
                .col-xs-12(data-ui-view="commonHead")
            .row
                .col-xs-9(data-ui-view="commonLeft")
                .col-xs-9(data-ui-view="commonMain")
            .row
                .col-xs-12(data-ui-view="commonFoot")
        #view-wide:   div(data-ui-view="wide")
        #view-simple: div(data-ui-view="simple")

        //- .spinner(data-ng-if="flags.isProcessing")
        //-     i.fa.fa-2x.fa-spinner.fa-spin
        
        // build:js(.build/dev/) scripts/vendor.min.js 
        include _scripts-vendor.include.jade
        // endbuild
            
        // build:js(.build/dev/) scripts/scripts.min.js 
        include _scripts-user.include.jade
        // endbuild

        //- script(src="https://www.google.com/recaptcha/api.js?hl=en&onload=onloadCallback&render=explicit", async, defer)

    