#view-common .header
    min-height 100px

nav li.active > a
    display block
    color red
    text-decoration underline
nav li
    list-style-type none
nav > ul
    padding 0
nav > ul > li > ul
    padding-left 2rem

.file-upload-drop-box
    background-color #ddd
    border 2px dashed #ccc
    cursor pointer
    text-align center
    width 100%
.file-upload-drop-box:hover
    background-color #ddf
