doctype html
html(lang="en")
    head
        title Title
        meta(charset="utf-8")
        base(href="/")

        include _styles-vendor.include.jade
        include _styles-user.include.jade

    body.relative(
            data-ng-app="cio-admin",
            data-ng-controller="CioCommonCtrl")

        #view-common.container-fluid
            .row
                .col-xs-12(data-ui-view="commonHead")
            .row
                .col-xs-9(data-ui-view="commonLeft")
                .col-xs-9(data-ui-view="commonMain")
            .row
                .col-xs-12(data-ui-view="commonFoot")
        #view-wide:   div(data-ui-view="wide")
        #view-simple: div(data-ui-view="simple")

        .spinner(data-ng-if="flags.isProcessing")
            i.fa.fa-2x.fa-spinner.fa-spin

        include _scripts-vendor.include.jade
        include _scripts-user.include.jade
    