h1.border-bottom {{ 'auth.Profile' | translate }}

table.table.table-striped
    tbody
        tr
            td Username
            td {{ vm.modelUser.username }}
        tr
            td Email
            td {{ vm.modelUser.email }}

//- form(name="vm.formAccount")
    //- fieldset.row
    //-     .col-xs-3
    //-         label(for="account-username")
    //-             |{{ 'auth.Username' | translate }}:
    //-     .col-xs-9(data-ng-class="{ 'has-error': \
    //-             vm.formAccount.username.$invalid &&\
    //-             vm.formAccount.username.$dirty }")
    //-         input#account-username.form-control(
    //-                 data-ng-class="{ inactive: !vm.flags.isUsernameInputActive }",
    //-                 type="text",
    //-                 name="username",
    //-                 alt="{{ 'auth.Username' | translate }}",
    //-                 placeholder="{{ 'auth.Username' | translate }}",
    //-                 data-ng-disabled="!vm.flags.isUsernameInputActive",
    //-                 data-ng-required="true",
    //-                 data-ng-minlength="3",
    //-                 data-ng-model="vm.modelAccount.username",
    //-                 cio-input-account-event="vm.isAvailable('Username')")
