include ../mixins/user.mixin.include.jade

//- sign in and sign up buttons
#sign: a.btn.btn-link(data-ng-click="signOut()") Sign Out

h1 Profile Settings

.alert.alert-danger(data-ng-if="!vm.modelUser.isVerified && false === \
        vm.states.verificationEmailSend")
    span Warning! Your email address is not verified, yet.&nbsp;&nbsp;
    a(data-ng-click="vm.sendVerificationEmail()")
        i.fa.fa-envelope
        |&nbsp;Send verification email.

.alert.alert-success(data-ng-if="!vm.modelUser.isVerified && true === \
        vm.states.verificationEmailSend")
    i.fa.fa-check
    span &nbsp;Email verification send.

.alert.alert-danger(data-ng-if="'!vm.modelUser.isVerified && error' === \
        vm.states.verificationEmailSend")
    i.fa.fa-ban.text-danger
    span &nbsp;An unexpected error occurred. Please try again.

form(name="vm.formAccountProfile", data-ng-submit="vm.updateUser()")
    .container-fluid.table.table-striped

        //- ********************************************************************
        
        //- Name show
        .row(data-ng-if="'name' !== vm.states.activeField")
            .col-xs-2.left: strong Name:
            .col-xs-8.left
                .text-primary(data-ng-if="\
                        vm.modelUser.profile.name.first || \
                        vm.modelUser.profile.name.middle || \
                        vm.modelUser.profile.name.last")
                    |{{ vm.modelUser.profile.name.title }}
                    |{{ vm.modelUser.profile.name.first }}
                    |{{ vm.modelUser.profile.name.middle }}
                    |{{ vm.modelUser.profile.name.last }}
                .text-muted(data-ng-if="\
                        !vm.modelUser.profile.name.first && \
                        !vm.modelUser.profile.name.middle && \
                        !vm.modelUser.profile.name.last")
                    |No name defined, yet.
            .col-xs-2.right
                +accountProfileButtonEdit('name')
        
        //- Name edit
        .row.active(data-ng-if="'name' === vm.states.activeField")
            .col-xs-2.left: strong Name:
            .col-xs-10.left(data-ng-class="{ 'has-error': \
                    vm.formAccountProfile.nameFirst.$invalid &&\
                    vm.formAccountProfile.nameFirst.$dirty }")
                fieldset.horizontal
                    +inputUserName
                fieldset.right
                    +accountProfileButtonsCancelAndSave

        //- ********************************************************************
        
        //- Gender show
        .row(data-ng-if="'gender' !== vm.states.activeField")
            .col-xs-2.left: strong Gender:
            .col-xs-8.left
                .text-primary(data-ng-if="vm.modelUser.profile.gender")
                    i.fa.fa-venus(data-ng-if="'female' === vm.modelUser.profile.gender")
                    i.fa.fa-mars(data-ng-if="'male' === vm.modelUser.profile.gender")
                    i.fa.fa-transgender(data-ng-if="'other' === vm.modelUser.profile.gender")
                    |&nbsp;{{ vm.modelUser.profile.gender }}
                .text-muted(data-ng-if="!vm.modelUser.profile.gender")
                    |No gender defined, yet.
            .col-xs-2.right
                +accountProfileButtonEdit('gender')

        //- Gender edit
        .row.active(data-ng-if="'gender' === vm.states.activeField")
            .col-xs-2.left: strong Gender:
            .col-xs-10.left
                fieldset
                    +inputUserGender
                fieldset.right
                    +accountProfileButtonsCancelAndSave

        //- ********************************************************************
        
        //- Date of birth show
        .row(data-ng-if="'dateOfBirth' !== vm.states.activeField")
            .col-xs-2.left: strong Date of birth:
            .col-xs-8.left
                .text-primary(data-ng-if="vm.modelUser.profile.dateOfBirth")
                    |{{ vm.modelUser.profile.dateOfBirth }}
                .text-muted(data-ng-if="vm.modelUser.profile.dateOfBirth")
                    |(Month/Day/Year)
                .text-muted(data-ng-if="!vm.modelUser.profile.dateOfBirth")
                    |No date of birth defined, yet.
            .col-xs-2.right
                +accountProfileButtonEdit('dateOfBirth')

        //- Date of birth edit
        .row.active(data-ng-if="'dateOfBirth' === vm.states.activeField")
            .col-xs-2.left: strong Date of birth:
            .col-xs-10.left(data-ng-class="{ 'has-error': \
                    vm.formAccountProfile.dateOfBirth.$invalid }")
                fieldset
                    +inputUserDateOfBirth
                fieldset
                    .alert.alert-sm.alert-info(
                            data-ng-if="vm.formAccountProfile.dateOfBirth.$valid")
                        i.fa.fa-info-circle
                        |&nbsp;Accepted formats: «MM/DD/YYYY» and «YYYY-MM-DD».
                    .alert.alert-sm.alert-danger(
                            data-ng-if="vm.formAccountProfile.dateOfBirth.$invalid")
                        i.fa.fa-ban
                        |&nbsp;Invalid format or date! Accepted formats: «MM/DD/YYYY» and «YYYY-MM-DD».
                fieldset.right
                    +accountProfileButtonsCancelAndSave('vm.formAccountProfile.dateOfBirth.$invalid')

        //- ********************************************************************

        //- Address show
        .row(data-ng-if="'address' !== vm.states.activeField")
            .col-xs-2.left: strong Address:
            .col-xs-8.left
                .text-muted(data-ng-if="!vm.modelUser.profile.address.street && \
                        !vm.modelUser.profile.address.city && \
                        !vm.modelUser.profile.address.zipcode")
                    |No address defined, yet.
                .text-primary(data-ng-if="vm.modelUser.profile.address.street || \
                        vm.modelUser.profile.address.city || \
                        vm.modelUser.profile.address.zipcode")
                    span {{ vm.modelUser.profile.address.street }}
                    span(data-ng-if="vm.modelUser.profile.address.street") ,&nbsp;
                    span {{ vm.modelUser.profile.address.zipcode }} 
                    span {{ vm.modelUser.profile.address.city }} 
                .text-muted(data-ng-if="vm.modelUser.profile.address.additional")
                    span ({{ vm.modelUser.profile.address.additional }})
            .col-xs-2.right
                +accountProfileButtonEdit('address')

        //- Address edit
        .row.active(data-ng-if="'address' === vm.states.activeField")
            .col-xs-2.left: strong Address:
            .col-xs-10.left
                fieldset.horizontal
                    +inputUserAddress
                fieldset.right
                    +accountProfileButtonsCancelAndSave

        //- ********************************************************************

        //- Username show
        .row(data-ng-if="'username' !== vm.states.activeField")
            .col-xs-2.left: strong Username:
            .col-xs-8.left
                .text-primary
                    |{{ vm.modelUser.username }}
                .text-muted(data-ng-if="vm.modelUser.updatedUsernameAt")
                    span (last updated at: 
                    strong {{ vm.modelUser.updatedUsernameAt | date:"MM/dd/yyyy, hh:mm a" }}
                    span )
                .text-muted(data-ng-if="!vm.modelUser.updatedUsernameAt")
                    |(never updated)
            .col-xs-2.right
                +accountProfileButtonEdit('username')

        //- Username edit
        .row.active(data-ng-if="'username' === vm.states.activeField")
            .col-xs-2.left: strong Username:
            .col-xs-10.left(data-ng-class="{ 'has-error': \
                    vm.formAccountProfile.username.$invalid &&\
                    vm.formAccountProfile.username.$dirty }")
                fieldset
                    +inputUserUsername
                fieldset
                    +statusFields({
                        "name" : "username",
                        "class": "alert alert",
                    })
                fieldset.right
                    +accountProfileButtonsCancelAndSave('\
                        vm.formAccountProfile.username.$invalid || \
                        !vm.modelUser.username \
                    ')

        //- ********************************************************************

        //- Email show
        .row(data-ng-if="'email' !== vm.states.activeField")
            .col-xs-2.left: strong Email:
            .col-xs-8.left
                .text-primary
                    span {{ vm.modelUser.email }}&nbsp;&nbsp;
                    span.text-muted(data-ng-if="vm.modelUser.isVerified") (verified)
                .text-muted(data-ng-if="vm.modelUser.updatedEmailAt")
                    span (last updated at: 
                    strong {{ vm.modelUser.updatedEmailAt | date:"MM/dd/yyyy, hh:mm a" }}
                    span )
                .text-muted(data-ng-if="!vm.modelUser.updatedEmailAt")
                    span (never updated)
            .col-xs-2.right
                +accountProfileButtonEdit('email')

        //- Email edit
        .row.active(data-ng-if="'email' === vm.states.activeField")
            .col-xs-2.left: strong Email:
            .col-xs-10.left(data-ng-class="{ 'has-error': \
                    vm.formAccountProfile.email.$invalid &&\
                    vm.formAccountProfile.email.$dirty }")
                fieldset
                    +inputUserEmail
                fieldset
                    +statusFields({
                        "name" : "email",
                        "class": "alert alert",
                    })
                fieldset.right
                    +accountProfileButtonsCancelAndSave('\
                        vm.formAccountProfile.email.$invalid || \
                        !vm.modelUser.email \
                    ')

        //- ********************************************************************

        //- Password show
        .row(data-ng-if="'password' !== vm.states.activeField")
            .col-xs-2.left: strong Password:
            .col-xs-8.left
                .text-primary
                    span *********
                .text-muted(data-ng-if="vm.modelUser.updatedPasswordAt")
                    span (last updated at: 
                    strong {{ vm.modelUser.updatedPasswordAt | date:"MM/dd/yyyy, hh:mm a" }}
                    span )
                .text-muted(data-ng-if="!vm.modelUser.updatedPasswordAt")
                    span (never updated)
            .col-xs-2.right
                +accountProfileButtonEdit('password')

        //- Password edit
        .row.active(data-ng-if="'password' === vm.states.activeField")
            .col-xs-2.left: strong Password:
            .col-xs-10.left(data-ng-class="{ 'has-error': \
                    vm.formAccountProfile.passwordCurrent.$invalid &&\
                    vm.formAccountProfile.passwordCurrent.$dirty }")
                fieldset.horizontal
                    +inputUserPassword
                fieldset(data-ng-if="'incorrect' === vm.states.password")
                    .alert.alert-danger
                        i.fa.fa-ban
                        span &nbsp;Current password incorrect!
                fieldset.right
                    +accountProfileButtonsCancelAndSavePasswords('\
                        vm.formAccountProfile.passwordCurrent.$invalid || \
                        vm.formAccountProfile.passwordNew.$invalid ||\
                        !vm.modelPasswords.passwordCurrent || \
                        !vm.modelPasswords.passwordNew \
                    ')

        //- ********************************************************************
    
        //- last row
        .row(data-ng-if="'delete' !== vm.states.activeField")
            .col-xs-12.right
                .text-muted
                    span Last sign in at: 
                    strong {{ vm.modelUser.lastSignInAt | date:"MM/dd/yyyy, hh:mm a" }}, 
                    span First sign up at: 
                    strong {{ vm.modelUser.firstSignUpAt | date:"MM/dd/yyyy, hh:mm a" }}
                    span &nbsp;&nbsp;|&nbsp;&nbsp;
                    a.text-danger(data-ng-click="vm.states.activeField = 'delete'")
                        |Delete account
        .row(data-ng-if="'delete' === vm.states.activeField")
            .col-xs-2: strong Confirm:
            .col-xs-10.left(data-ng-class="{ 'has-error': \
                    vm.formAccountProfile.passwordCurrent.$invalid &&\
                    vm.formAccountProfile.passwordCurrent.$dirty }")
                fieldset
                    +inputPassword({
                        "id"           : "account-password-delete",
                        "label"        : "Password",
                        "name"         : "passwordDelete",
                        "data-ng-model": "vm.modelPasswords.passwordDelete",
                        "isLabelHidden": true
                    })
                fieldset(data-ng-if="'incorrect' === vm.states.passwordDelete")
                    .alert.alert-danger
                        i.fa.fa-ban
                        span &nbsp;Current password incorrect!
                .alert.alert-danger.
                    Do you really want to delete your account for good?
                fieldset.right
                    +accountProfileButtonsCancelAndSaveDelete('\
                        !vm.modelPasswords.passwordDelete')

        //- ********************************************************************

        
