include _mixins.include.jade

//- sign in and sign up buttons
#sign: a.btn.btn-link(data-ng-click="signOut()") Sign Out

h1 Profile
form(name="vm.formAccountProfile", data-ng-submit="vm.updateUser()")
    .container-fluid.table.table-striped
        
        //- Name show
        .row(data-ng-if="'name' !== vm.states.activeField")
            .col-xs-2.left Name:
            .col-xs-8.left
                .text-primary(data-ng-if="\
                        vm.modelUser.profile.name.first || \
                        vm.modelUser.profile.name.middle || \
                        vm.modelUser.profile.name.last")
                    |{{ vm.modelUser.profile.name.first }} {{ vm.modelUser.profile.name.last }}
                .text-muted(data-ng-if="\
                        !vm.modelUser.profile.name.first && \
                        !vm.modelUser.profile.name.middle && \
                        !vm.modelUser.profile.name.last")
                    |No name defined, yet.
            .col-xs-2.right
                +accountProfileButtonEdit('name')
        
        //- Name edit
        .row.active(data-ng-if="'name' === vm.states.activeField")
            .col-xs-2.left Name:
            .col-xs-10.left(data-ng-class="{ 'has-error': \
                    vm.formAccount.nameFirst.$invalid &&\
                    vm.formAccount.nameFirst.$dirty }")
                fieldset.horizontal
                    +inputText({
                        "id"           : "account-name-title",
                        "label"        : "Title",
                        "name"         : "nameTitle",
                        "data-ng-model": "vm.modelUser.profile.name.title",
                    })
                fieldset.horizontal
                    +inputText({
                        "id"           : "account-name-first",
                        "label"        : "First name",
                        "name"         : "nameFirst",
                        "data-ng-model": "vm.modelUser.profile.name.first",
                    })
                fieldset.horizontal
                    +inputText({
                        "id"           : "account-middle-first",
                        "label"        : "Middle name",
                        "name"         : "nameMiddle",
                        "data-ng-model": "vm.modelUser.profile.name.middle",
                    })
                fieldset.horizontal
                    +inputText({
                        "id"           : "account-name-last",
                        "label"        : "Last name",
                        "name"         : "nameLast",
                        "data-ng-model": "vm.modelUser.profile.name.last",
                    })
                fieldset.right
                    +accountProfileButtonsCancelAndSave()

        //- ********************************************************************
        
        .row(data-ng-if="'gender' !== vm.states.activeField")
            .col-xs-2.left Gender:
            .col-xs-8.left
                .text-primary(data-ng-if="vm.modelUser.profile.gender")
                    |{{ vm.modelUser.profile.gender }}
                .text-muted(data-ng-if="!vm.modelUser.profile.gender")
                    |No gender defined, yet.
            .col-xs-2.right
                +accountProfileButtonEdit('gender')

        //- Name edit
        .row.active(data-ng-if="'gender' === vm.states.activeField")
            .col-xs-2.left Gender:
            .col-xs-10.left
                fieldset
                    +inputRadio({
                        "id   "        : "account-gender-female",
                        "label"        : "Female",
                        "name "        : "genderFemale",
                        "value"        : "female",
                        "data-ng-model": "vm.modelUser.profile.gender"
                    })
                    +inputRadio({
                        "id   "        : "account-gender-male",
                        "label"        : "Male",
                        "name "        : "genderMale",
                        "value"        : "male",
                        "data-ng-model": "vm.modelUser.profile.gender"
                    })
                    +inputRadio({
                        "id   "        : "account-gender-other",
                        "label"        : "Other",
                        "name "        : "genderOther",
                        "value"        : "other",
                        "data-ng-model": "vm.modelUser.profile.gender"
                    })
                fieldset.right
                    +accountProfileButtonsCancelAndSave()

        //- ********************************************************************
        
        .row(data-ng-if="'dateOfBirth' !== vm.states.activeField")
            .col-xs-2.left Date of birth:
            .col-xs-8.left
                .text-primary(data-ng-if="vm.modelUser.profile.dateOfBirth")
                    |{{ vm.modelUser.profile.dateOfBirth }}
                .text-muted(data-ng-if="vm.modelUser.profile.dateOfBirth")
                    |(Month/Day/Year)
                .text-muted(data-ng-if="!vm.modelUser.profile.dateOfBirth")
                    |No date of birth defined, yet.
            .col-xs-2.right
                +accountProfileButtonEdit('dateOfBirth')

        //- ********************************************************************

        .row.active(data-ng-if="'dateOfBirth' === vm.states.activeField")
            .col-xs-2.left Date of birth:
            .col-xs-10.left(data-ng-class="{ 'has-error': \
                    vm.formAccountProfile.dateOfBirth.$invalid }")
                fieldset
                    +inputText({
                        "id"                         : "account-date-of-birth",
                        "label"                      : "Date of birth",
                        "name"                       : "dateOfBirth",
                        "data-ng-model"              : "vm.modelUser.profile.dateOfBirth",
                        "data-cio-input-change-event": "vm.testDateOfBirth()",
                        "isLabelHidden"              : true
                    })
                    .alert.alert-sm.alert-info.margin-top-half-rem(
                            data-ng-if="vm.formAccountProfile.dateOfBirth.$valid")
                        |Accepted formats: «MM/DD/YYYY» and «YYYY-MM-DD».
                    .alert.alert-sm.alert-danger.margin-top-half-rem(
                            data-ng-if="vm.formAccountProfile.dateOfBirth.$invalid")
                        |Invalid format or date! Accepted formats: «MM/DD/YYYY» and «YYYY-MM-DD».
                fieldset.right
                    +accountProfileButtonsCancelAndSave('vm.formAccountProfile.dateOfBirth.$invalid')

        //- ********************************************************************

        .row
            .col-xs-2.left Address:
            .col-xs-8.left
                .text-muted(data-ng-if="!vm.modelUser.profile.address.street && \
                        !vm.modelUser.profile.address.city && \
                        !vm.modelUser.profile.address.zipcode")
                    |No address defined, yet.
                .text-primary(data-ng-if="vm.modelUser.profile.address.street || \
                        vm.modelUser.profile.address.city || \
                        vm.modelUser.profile.address.zipcode")
                    |{{ vm.modelUser.profile.address.street }}<br /> 
                    |{{ vm.modelUser.profile.address.zipcode }} 
                    |{{ vm.modelUser.profile.address.city }} 
            .col-xs-2.right
                +accountProfileButtonEdit()

        //- ********************************************************************

        .row
            .col-xs-2.left Username:
            .col-xs-8.left
                .text-primary
                    |{{ vm.modelUser.username }}
                .text-muted(data-ng-if="vm.modelUser.updatedUsernameAt")
                    |(last updated at: {{ vm.modelUser.updatedUsernameAt }})
                .text-muted(data-ng-if="!vm.modelUser.updatedUsernameAt")
                    |(never updated)
            .col-xs-2.right
                +accountProfileButtonEdit()

        //- ********************************************************************

        .row
            .col-xs-2.left Password:
            .col-xs-8.left
                .text-primary
                    |****
                .text-muted(data-ng-if="vm.modelUser.updatedPasswordAt")
                    |(last updated at: {{ vm.modelUser.updatedPasswordAt }})
                .text-muted(data-ng-if="!vm.modelUser.updatedPasswordAt")
                    |(never updated)
            .col-xs-2.right
                +accountProfileButtonEdit()

        //- ********************************************************************

        .row
            .col-xs-2.left Email:
            .col-xs-8.left
                .text-primary
                    |{{ vm.modelUser.email }} 
                .text-muted(data-ng-if="vm.modelUser.isVerified")
                    |(verified)
                .text-muted(data-ng-if="!vm.modelUser.isVerified")
                    |(not verified, yet)
            .col-xs-2.right
                a.btn.btn-link(
                        data-ng-if="!vm.modelUser.isVerified",
                        data-ng-click="true !== vm.states.verificationEmailSend && \
                            vm.sendVerificationEmail()")
                    span.text-primary(data-ng-if="false === vm.states.verificationEmailSend")
                        i.fa.fa-envelope
                        |&nbsp;Send verification email
                    span.text-success(data-ng-if="true === vm.states.verificationEmailSend")
                        i.fa.fa-check
                        |&nbsp;Email verification send
                    span.text-danger(data-ng-if="'error' === vm.states.verificationEmailSend")
                        i.fa.fa-ban.text-danger
                        |&nbsp;An unexpected error occurred. Please try again.
                +accountProfileButtonEdit()

        //- ********************************************************************

        .row
            .col-xs-12.right
                .text-muted
                    |Created at: {{ vm.modelUser.createdAt | date }}
