//- ****************************************************************************
//- Includes
//- ****************************************************************************

include content-basic.mixins.jade

//- ****************************************************************************
//- Template
//- ****************************************************************************

.wrapper
    h4 Edit existing basic learning content
    form(name="vm.formContent",
            data-ng-submit="vm.updateContent()")

        fieldset.form-group.margin-top-2rem
            +inputTitle('vm.modelContent')

        fieldset.form-group
            +inputName('vm.modelContent')
            .vmargin-1rem
            +alertNameAvailability

        fieldset.form-group.margin-top-2rem
            label.border-bottom(for="content-media-file")
                |Video or audio files:

            .buttons
                span(data-ng-if="!vm.modelContent.mediaFile || !vm.modelContent.mediaFile.filename")
                    +buttonSelectMediaFile
                span(data-ng-if="vm.modelContentNew.mediaFile")
                    +buttonTakePoster
                span(data-ng-if="vm.modelContentNew.mediaFile.url && vm.modelContentNew.mediaFilePosterTmp")
                    +buttonRemovePoster
                span(data-ng-if="vm.modelContentNew.mediaFile")
                    +buttonRemoveFile

            .media-files
                div(data-ng-if="vm.modelContent.mediaFile.url")
                    .vmargin-2rem
                    +mediaFile(
                            'media-file',
                            'vm.modelContent.mediaFile')
                div(data-ng-if="vm.modelContentNew.mediaFile.url")
                    .vmargin-2rem
                    +mediaFile(
                            'media-file-new',
                            'vm.modelContentNew.mediaFile')
                div(data-ng-if="vm.modelContentNew.mediaFilePosterTmp")
                    .vmargin-2rem
                    +mediaFilePoster(
                            'media-file-new-poster',
                            'vm.modelContentNew')
                div(data-ng-if="vm.modelContent.mediaFile.url").right
                    +buttonDeleteVideo

        fieldset.form-group.margin-top-2rem
            +textareaText('vm.modelContent')
        
        fieldset.form-group.margin-top-2rem
            +inputImageFiles

        .vmargin-2rem
        hr
        fieldset.form-group.right
            +buttonSaveContent
            |&nbsp;
            +buttonDeleteContent
