// *****************************************************************************
// Common tags
// *****************************************************************************

*
    outline none
body, html
    font-size 14px
    background-image url('../assets/tile-light.gif')
fieldset
    margin 0.5rem 0
fieldset:first-child
    margin-top 0
label
    display block
    font-weight normal
label.border-bottom
    border-bottom 1px solid #ddd
    margin-bottom .5rem
    padding-bottom .25rem
a, *[data-ng-click]
    cursor pointer

hr
    border-color #ddd !important
    margin 1rem 0 !important

// *****************************************************************************
// Common ids
// *****************************************************************************

#view-simple
    margin 10rem auto
    max-width 600px
    width 100%

#view-common
    margin 0 auto
    max-width 1200px
    width 100%

// *****************************************************************************
// Common classes
// *****************************************************************************

// font-size
.xl
    font-size 5rem
.lg
    font-size 3rem
.md
    font-size 1rem
.sm
    font-size .7rem
.xs
    font-size .5rem

// colors
.white
    color white
.red
    color red
.blue
    color blue
.green
    color green
.gray
    color gray
.black
    color black

// display and position
.inline
    display inline
.block
    display block
.inline-block
    display inline-block
.static
    position static
.relative
    position relative
.absolute
    position absolute
.fixed
    position fixed

// text alignment
.center
    text-align center
.justify
    text-align justify
.left
    text-align left
.right
    text-align right

// floating
.float-left
    float left
.float-right
    float right

// margins
.vmargin-half-rem
    martin-top .25rem
    margin-bottom .25rem
.vmargin-1rem
    martin-top .5rem
    margin-bottom .5rem
.vmargin-2rem
    martin-top 1rem
    margin-bottom 1rem
.vmargin-3rem
    martin-top 1.5rem
    margin-bottom 1.5rem
.vmargin-4rem
    martin-top 2rem
    margin-bottom 2rem

// paddings
.vpadding-half-rem
    padding-bottom .5rem
    padding-top .5rem
.vpadding-1rem
    padding-bottom 1rem
    padding-top 1rem
.vpadding-2rem
    padding-bottom 2rem
    padding-top 2rem
.vpadding-3rem
    padding-bottom 3rem
    padding-top 3rem
.vpadding-4rem
    padding-bottom 4rem
    padding-top 4rem

// margins
.margin-top-half-rem
    margin-top .5rem
.margin-top-1rem
    margin-top 1rem
.margin-top-2rem
    margin-top 2rem
.margin-bottom-half-rem
    margin-bottom .5rem
.margin-bottom-1rem
    margin-bottom 1rem
.margin-bottom-2rem
    margin-bottom 2rem
.margin-left-half-rem
    margin-left .5rem
.margin-left-1rem
    margin-left 1rem
.margin-left-2rem
    margin-left 2rem
.margin-right-half-rem
    margin-right .5rem
.margin-right-1rem
    margin-right 1rem
.margin-right-2rem
    margin-right 2rem

// no margins
.no-margin
    margin 0
.no-hmargin, .no-horizontal-margin
    margin-left 0
    margin-right 0
.no-vmargin, .no-vertical-margin
    margin-bottom 0
    margin-top 0
.no-margin-top
    margin-top 0
.no-margin-bottom
    margin-bottom 0
.no-margin-left
    margin-left 0
.no-margin-right
    margin-right 0

// no paddings
.no-padding
    padding 0
.no-hpadding, .no-horizontal-padding
    padding-left 0
    padding-right 0
.no-vpadding, .no-vertical-padding
    padding-bottom 0
    padding-top 0
.no-padding-top
    padding-top 0
.no-padding-bottom
    padding-bottom 0
.no-padding-left
    padding-left 0
.no-padding-right
    padding-right 0

// wrappers
.wrapper-content,
.wrapper-content-narrow
    width 100%
    max-width 1200px
    margin 0 auto
.wrapper-content-narrow
    max-width 600px

// font attributes
.underline
    text-decoration underline

// borders
.border-bottom
    border-bottom 1px solid #ddd
    margin-bottom 1.5rem
    padding-bottom .5rem
.no-border
    border none !important

// *****************************************************************************
// Spinner
// *****************************************************************************

.spinner
    position absolute
    text-align center
    width 100%
    height 100%
    top 0
    bottom 0
    left 0
    right 0
    background-color rgba(255,255,255,0.75)
.spinner > i
    color gray
    position absolute
    top 50%
    left 50%
    height 28px
    width 28px
    margin -14px 0 0 -14px

// *****************************************************************************
// Media
// *****************************************************************************

.video-placeholder
    background-color black
    border 1px solid #333
    border-radius 6px
    cursor pointer
    margin 1rem 0
    position relative
    text-align center
    width 100%
.video-placeholder > i
    line-height 15rem
    margin-top 3rem
    color rgba(255,255,255,.2)
.video-placeholder > p
    background-color rgba(255,255,255,.2)
    color red
    padding .5rem 0
    margin 0 1rem 1rem 1rem
    text-align center !important

// *****************************************************************************
// Chrome hacks
// *****************************************************************************

input:-webkit-autofill, input:-webkit-autofill:focus
    -webkit-box-shadow 0 0 0px 1000px white inset !important
    // -webkit-text-fill-color yellow !important

// *****************************************************************************
// Bootstrap overrides and extensions
// *****************************************************************************

.btn-link
    outline none !important

.form-group-addon
    margin .5rem 0
    
.btn
    box-shadow 0px 0px 3px 0px rgba(0,0,0,0.25)
.btn.btn-default
    box-shadow 0px 0px 3px 0px rgba(0,0,0,0.1)
.btn.btn-link
    box-shadow none

.alert.alert-sm
    padding 8px 10px
.alert.alert-xs
    padding 4px 5px
.alert.alert-muted
    background-color #eee
    color rgb(119, 119, 119)
    border-color #ddd
.alert > a
    color inherit
    text-decoration underline
.alert > a:hover
    text-decoration none

input.inactive
    box-shadow none !important
    border none !important
    // background-color white !important

.table.table-striped > .row
    border-top 1px solid #ddd
    padding .5rem 0
.table.table-striped > .row > div:first-child
    padding-left 0
.table.table-striped > .row > div:last-child
    padding-right 0
.table.table-striped > .row.active
    padding 1rem 0
    // box-shadow inset 0 8px 8px -8px #ddd, inset 0 -8px 8px -8px #ddd
    // background-color rgba(200, 200, 200, .1)

fieldset.horizontal,
fieldset.horizontal > .hrow,
fieldset.form-inline-full,
fieldset.form-inline-full > .hrow
    overflow hidden
fieldset.horizontal > label,
fieldset.horizontal > .hrow > label,
fieldset.form-inline-full > label,
fieldset.form-inline-full > .hrow > label
    width 20%
    float left
    padding .45em 0
fieldset.horizontal > input,
fieldset.horizontal > .hrow > input,
fieldset.form-inline-full > input,
fieldset.form-inline-full > .hrow > input
    width 80%
    float left

.input-group-addon.filled
    padding 0
.addon-filler
    padding 6px 12px
a.addon-filler
    cursor pointer

// *****************************************************************************
// Google's reCaptcha overrides
// *****************************************************************************

#sign-up-captcha-cover
    position relative
    height 14px
    bottom -15px
    left 0px
    width 275px
    background-color #f9f9f9
    border-left 1px solid #d3d3d3
