// build:js(.build/dev/) scripts/scripts.min.js
//- Common
script(src="scripts/client.js")
script(src="scripts/templates.js")
//- Values
script(src="scripts/translation.en-US.js")
script(src="scripts/translation.de-DE.js")
//- Directives
script(src="scripts/input.directive.js")
//- Services
script(src="scripts/common.service.js")
script(src="scripts/auth.service.js")
script(src="scripts/account.service.js")
//- Controllers
script(src="scripts/common.controller.js")
script(src="scripts/landing.controller.js")
script(src="scripts/sign-in.controller.js")
script(src="scripts/sign-up.controller.js")
script(src="scripts/verify-email.controller.js")
script(src="scripts/forgot-username.controller.js")
script(src="scripts/forgot-password.controller.js")
script(src="scripts/reset-password.controller.js")
script(src="scripts/account-profile.controller.js")
script(src="scripts/account-profile-settings.controller.js")
//- Routers
script(src="scripts/landing.router.js")
script(src="scripts/auth.router.js")
script(src="scripts/account.router.js")
// endbuild