// *****************************************************************************
// Common tags
// *****************************************************************************

*
    outline none

body, html
    font-size 14px
    
// *****************************************************************************
// Common ids
// *****************************************************************************

#view-simple
    margin 10rem auto
    max-width 600px
    width 100%

// *****************************************************************************
// Common classes
// *****************************************************************************

// display and position
.inline
    display inline
.block
    display block
.inline-block
    display inline-block
.static
    position static
.relative
    position relative
.absolute
    position absolute
.fixed
    position fixed

// text alignment
.center
    text-align center
.justify
    text-align justify
.left
    text-align left
.right
    text-align right

// floating
.float-left
    float left
.float-right
    float right

// margins
.vmargin-.5rem, .vmargin-half-rem
    height .5rem
    width 100%
.vmargin-1rem
    height 1rem
    width 100%
.vmargin-2rem
    height 2rem
    width 100%
.vmargin-3rem
    height 3rem
    width 100%
.vmargin-4rem
    height 4rem
    width 100%

// no margins
.no-margin
    margin 0
.no-hmargin, .no-horizontal-margin
    margin-left 0
    margin-right 0
.no-vmargin, .no-vertical-margin
    margin-bottom 0
    margin-top 0
.no-margin-top
    margin-top 0
.no-margin-bottom
    margin-bottom 0
.no-margin-left
    margin-left 0
.no-margin-right
    margin-right 0

// no paddings
.no-padding
    padding 0
.no-hpadding, .no-horizontal-padding
    padding-left 0
    padding-right 0
.no-vpadding, .no-vertical-padding
    padding-bottom 0
    padding-top 0
.no-padding-top
    padding-top 0
.no-padding-bottom
    padding-bottom 0
.no-padding-left
    padding-left 0
.no-padding-right
    padding-right 0

// wrappers
.wrapper-content,
.wrapper-content-narrow
    width 100%
    max-width 1200px
    margin 0 auto
.wrapper-content-narrow
    max-width 600px

// font attributes
.underline
    text-decoration underline

// borders
.border-bottom
    border-bottom 1px solid #ddd
    margin-bottom 1.5rem
    padding-bottom .5rem

// *****************************************************************************
// Spinner
// *****************************************************************************

.spinner
    position absolute
    text-align center
    width 100%
    height 100%
    top 0
    bottom 0
    left 0
    right 0
    background-color rgba(255,255,255,0.75)
.spinner > i
    color gray
    position absolute
    top 50%
    left 50%
    height 28px
    width 28px
    margin -14px 0 0 -14px

// *****************************************************************************
// Chrome hacks
// *****************************************************************************

input:-webkit-autofill, input:-webkit-autofill:focus
    -webkit-box-shadow 0 0 0px 1000px white inset !important
    // -webkit-text-fill-color yellow !important

// *****************************************************************************
// Bootstrap overrides and extensions
// *****************************************************************************

.btn-link
    outline none !important

.form-group-addon
    margin .5rem 0
    
.btn
    box-shadow 0px 0px 3px 0px rgba(0,0,0,0.5)
.btn.btn-link
    box-shadow none

// *****************************************************************************
// Google's reCaptcha overrides
// *****************************************************************************

#sign-up-captcha-cover
    position relative
    height 14px
    bottom -15px
    left 0px
    width 275px
    background-color #f9f9f9
    border-left 1px solid #d3d3d3
